@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x:hidden; /*tirar barra de rolagem horizontal*/
}

/*CONFIGURAÇAO SCROLL*/

.button-scroll {
    width: 50px;
    height: 50px;
    background-color: #B28756;
    border-radius: 25px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}


/*configuracao do menu*/
header {
    height: 100px;
    background-color: #000;
}
.header {
    display: flex;
    max-width: 1140px;
    height: 100px;
    margin: auto; /*alinhar no centro da pagina*/
    align-items: center; /*alinhar no centro do container/box*/
}
.logo img {
    width: 50px;
    height: 50px;
    background-color: #B28756;
}
.logo {
    width: 100px;
}
.menu-mobile {
    display: none;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul {
    display: flex;
    
}
.menu ul {
    list-style: none;
    
}
.menu li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 4px solid #000; /*criar uma borda para nao dar movimento da letra*/
}
.menu li a:hover,
.menu .active a {
    border-bottom: 4px solid #B28756;
    color: rgb(128, 128, 128);
}
/*configuracao slide*/
.banner {
    height: calc(100vh - 100px);/*tamanho da tela MENOS o tamanho do header*/
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;/*limitar o espaco do banner, tirando a barra de rolagem lateral*/
}
.banner .sliders {
    width: 1000vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}
.banner .slidearea {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .slidearea h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
}
.banner .slidearea h1 span {
    color: #B28756;     
}
.banner .slidearea h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
}
.banner .slidearea a {
    display: block;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #B28756;
    border-radius: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.banner .slidearea a:hover {
    background-color: #fff;
    color: #333;
}


.banner .sliders-pointers {
    width: 100vw;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointers {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #B28756;
    cursor: pointer;
}
.banner .pointers.active {
    background-color: #B28756;
}
/*CONFIGURACAO DA PRIMEIRA SECTION*/

.default {
    margin: 50px 0px;
}
.default .section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
}
.default .section-desc {
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #ccc;
    margin: 10px 0 30px 0;
}
.default .section-body {
    margin: auto;
    max-width: 1140px;
    min-height: 100px;
}
.default .section-aboutus {
    display: flex;

}
.default .section-aboutus--left {
    flex: 1;
    padding-right: 30px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    line-height: 25px;
}
.section-aboutus--left .botao {
    margin-top: 20px;
}
.section-aboutus--left .botao a {
    text-decoration: none;
    padding: 10px 40px;
    background-color: #B28756;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
}
.default .section-aboutus--right {
    width: 500px;
    text-align: center;
}
.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 3px 10px rgb(80, 80, 80);
}
.default.light {
    color: #000;
}


/*CONFIGURACAO DA SEGUNDA SECTION*/

.section-services {
    display: flex;
}
.section-service--quality,
.section-service--design,
.section-service--regular,
.section-service--support {
    flex: 1;
    text-align: center; /*alinhar no centro da DIV*/
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    margin-bottom: 40px;
}
.section-service--quality img,
.section-service--design img,
.section-service--regular img,
.section-service--support img {
    margin-bottom: 20px;
}
.section-service--quality h3,
.section-service--design h3,
.section-service--regular h3,
.section-service--support h3 {
    font-family: 'montserrat',sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    width: 150px;
    margin: auto;
    text-align: center;
}
.section-service--quality p,
.section-service--design p,
.section-service--regular p,
.section-service--support p {
    font-family: 'montserrat',sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*CONFIGURACAO DA TERCEIRA SECTION*/

.section-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
    max-width: 700px;
    height: 60px;
    margin: auto;
    border-radius: 30px;
    border: 1px solid rgb(153, 153, 153);
}
.section-project-all,
.section-project-photos,
.section-project-branding, 
.section-project-adverts,
.section-project-development,
.section-project-misc {
    flex: 1;
    border-right: 1px solid rgb(153, 153, 153);
    padding: 12px 0px;
    text-align: center;
}
.section-project-misc:last-child {
    border-right: 0;
}
.section-project-all a,
.section-project-photos a,
.section-project-branding a, 
.section-project-adverts a,
.section-project-development a,
.section-project-misc a {
    text-decoration: none;
    color:#333;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.section-project-all a:hover,
.section-project-photos a:hover,
.section-project-branding a:hover, 
.section-project-adverts a:hover,
.section-project-development a:hover,
.section-project-misc a:hover {
    padding: 15px;
    border-bottom: 5px solid #B28756;
}

.default.dark {
    margin-bottom: 40px;
    margin-bottom: 50px;
    background-color: #000;
    color: #fff;
}
.default.dark .section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
}
.section-projects-photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects-photo {
    width: 280px;
}
.section-projects--photoarea {
    padding: 10px;
    width: 260px;
}
.section-projects--photoarea img {
    width: inherit;
    
}

.section-projects--photoinfo {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 260px;
    height: 162px;
    padding: 20px;
    text-align: center;
    font-family: 'montserrat',sans-serif;

}

.section-projects--photoinfo h5 {
    font-weight: 600;
    font-size: 18px;
}
.section-projects--photoinfo p {
    font-size: 14px;
}
.section-projects--photoarea:hover
.section-projects--photoinfo {
    display: flex;
}
.section-body .botaoo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.section-body .botaoo a{
    text-decoration: none;
    padding: 10px 40px;
    background-color: #B28756;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
}
/*configuracao quarta section*/

.bg-team {
    background-image: url(/media/foto3.jpg);
    background-position: center;
    background-size: cover;
}
.section-team-area {
    background-color: rgba(0, 0, 0, 0.7);
}
.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .sliders {
    width: 1000vw;
    height: 100%;
    
}
.section-team .slide {
    width: 280px;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}
.section-team .slidearea {
    color: #000;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-team-area .sliders-pointers {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.section-team-area .pointers {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #B28756;
    cursor: pointer;
    margin-bottom: 20px;
}
.section-team-area .pointers.active {
    background-color: #B28756;
}
.section-team--avatar {
    margin: 20px;
    width: 150px;
    height: auto;
}
.section-team--name {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    padding: 10px;
}
.section-team--role {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;

}
.section-team--social {
    display: flex;
    margin: 20px;
}
.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #999;
    margin-right: 12px;
    border-radius: 50%;
    
}
.section-team--social a:hover {
    background-color: #B28756;
}

/*CONFIGURAÇÃO QUINTA SECTION*/

.section-happy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.section-happy h3 {
    font-weight: 700;
    font-family: 'montserrat',sans-serif;
    margin-top: 20px;
    font-size: 18px;
}
.section-happy p {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    padding: 10px 0 20px 0;
}
.section-happy-info {
    padding: 20px 50px;
    text-align: center;
    margin: 10px;
    color: #999;
}

.section-happy .sliders-pointers {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-happy .pointers {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #B28756;
    cursor: pointer;
    margin-bottom: 20px;
}
.section-happy .pointers.active {
    background-color: #B28756;
}

/*CONFIGURAÇÃO LOGO CLIENTES*/

.logo-client {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    margin: auto;
    
}
.logo-client-img img{
    padding: 40px;
}

/*CONFIGURAÇÃO TABELA DE PREÇO*/

.section-price {
    width: 100vw;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-price-tab {
    width: 280px;
}
.section-price-tab-express {
    flex: 1;
    padding: 20px;
    background-color: rgb(223, 223, 223);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.section-price-info {
    font-family: 'montserrat', sans-serif;
    display: inline-block;
    flex-direction: column;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
}
.section-price-info h3 {
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 10px;
}
.section-price-info h1 {
    font-size: 30px;
}
.section-price-info h5 {
    text-transform: uppercase;
    color: rgb(116, 116, 116);
    font-weight: 300;
    padding-bottom: 10px;
}
.section-price-info p {
    color: #333;
    font-size: 12px;
    margin-top: 10px;
}
.section-price-info a {
    display: block;
    margin-top: 20px;
    background-color: #333;
    padding: 10px 20px;
    border-radius:30px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.section-price-info a:hover {
    background-color: #B28756;
    color: #333;
}
.section-price-tab-express:hover {
    box-shadow: 1px 1px 15px rgb(153, 153, 153);
    background-color: #fff;
}

/*CONFIGURAÇÃO DO PREMIUM - CAIXA BOX*/

.section-premium {
   display: flex;

}
.section-premium-img {
    flex: 1;
    text-align: center;
}
.section-premium-info {
    flex: 1;
    align-items: center;
}
.section-premium-info-ico {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.section-premium-info-ico h2 {
    font-family: 'montserrat', sans-serif;
    padding-left: 27px;
    color: #333;
}
.section-premium-info-desc p {
    color: #999;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    line-height: 25px;
    padding-left: 60px;
}
.section-premium-pointers .sliders-pointers {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-premium-pointers .pointers {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #B28756;
    cursor: pointer;
    margin: 10px 5px;
}
.section-premium-pointers .pointers.active {
    background-color: #B28756;
}
hr {
    margin: 30px 20px;
}
.section-premium-pointers {
    display: flex;
    flex-direction: column;
}
.section-premium-pointers a {
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-size: 14px;
    font-family: 'montserrat',sans-serif;
    font-weight: 400;
    background-color: #B28756;
    width: 200px;
    padding: 10px 40px;
    border-radius: 20px;
    color: #fff;
    margin-top: 20px;
}

/*CONFIGURAÇÃO SOME FACTS*/

.section-some {
    display: flex;
}
.section-some--design,
.section-some--photo,
.section-some--marketing,
.section-some--exhibition {
    flex: 1;
    text-align: center; /*alinhar no centro da DIV*/
    margin-bottom: 40px;
}
.section-some--design h1,
.section-some--photo h1,
.section-some--marketing h1,
.section-some--exhibition h1 {
    margin-bottom: 20px;
    font-family: 'montserrat',sans-serif;
    font-size: 55px;
    font-weight: 700;
    padding: 20px;
    color: #B28756;
}
.section-some--design h3,
.section-some--photo h3,
.section-some--marketing h3,
.section-some--exhibition h3 {
    font-family: 'montserrat',sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    width: 200px;
    margin: auto;
    text-align: center;
}
.section-some--design p,
.section-some--photo p,
.section-some--marketing p,
.section-some--exhibition p {
    font-family: 'montserrat',sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 40px;
}



/*CONFIGURACAO MAPA*/

.section-map {
    background-image: url(/media/mapa.jpg);
    display: flex;
    
}
.section-map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map--info {
    width: 50%;
    background-color: #fff;
    padding: 30px;
    margin: 20px 0;
}
.section-map--info-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}
.section-map--info-item-img {
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    
    
}
.section-map--info-item-img img {
    width: 25px;
    height: auto;
    padding: 5px;
}




@media (min-width:500px) and (max-width:800px) {
    nav {
        display: flex;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.8);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu ul li a {
        font-weight: 700;
        border-bottom: 0;
        height: 40px;
        margin-left: 30px;

    }
    .menu li a:hover,
    .menu .active a {
    border-bottom: 0;
    color: #B28756;
    }

    .menu-mobile {
        display: flex;
        margin-right: 10px;
    }

    .section-aboutus {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
    .section-aboutus--right img {
        width: 480px;
    }
    .botao {
        margin-bottom: 40px;
    }
    .section-services {
        display: flex;
        flex-wrap: wrap;
        width: 450px;
        margin: auto;
    }
    .section-team {
        max-width: 560px;
    }
}




@media (max-width:500px) {
    nav {
        display: none;
    }
    .menu-mobile {
        display: flex;
        margin-right: 10px;
    }
    .banner .slidearea h1 {
        font-size: 30px;
    }
    .banner .slidearea h2 {
        font-size: 14px;
    }
    .section-aboutus {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
    .section-aboutus--right img {
        width: 280px;
    }
    .botao {
        margin-bottom: 40px;
    }
    .section-services {
        display: flex;
        flex-wrap: wrap;
        width: 450px;
        margin: auto;
    }
    
}

@media (min-width:300px) and (max-width:499px){

    nav {
        display: flex;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.8);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu ul li a {
        font-weight: 700;
        border-bottom: 0;
        height: 40px;
        margin-left: 30px;

    }
    .menu li a:hover,
    .menu .active a {
    border-bottom: 0;
    color: #B28756;
    }

    .menu-mobile {
        display: flex;
        margin-right: 10px;
    }
    .section-services {
        display: flex;
        flex-wrap: wrap;
        width: 280px;
        margin: auto;
    }
    .section-team {
        max-width: 280px;
    }
    .logo-client-img {
        padding-left: 60px;
    }
    

}